Pacagroup.Comercial.Creditos.ConsoleConsumer/Connected Services/ProxyCredito/CreditoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/WcfService/CreditoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Pacagroup.Comercial.Creditos.Dominio" />
  <xs:element name="listarCreditos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarCreditosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Pacagroup.Comercial.Creditos.Dominio" minOccurs="0" name="listarCreditosResult" nillable="true" type="q1:ArrayOfCredito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarCredito">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Pacagroup.Comercial.Creditos.Dominio" minOccurs="0" name="credito" nillable="true" type="q2:Credito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarCreditoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Pacagroup.Comercial.Creditos.Dominio" minOccurs="0" name="registrarCreditoResult" nillable="true" type="q3:Credito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarCredito">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Pacagroup.Comercial.Creditos.Dominio" minOccurs="0" name="credito" nillable="true" type="q4:Credito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarCreditoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Pacagroup.Comercial.Creditos.Dominio" minOccurs="0" name="actualizarCreditoResult" nillable="true" type="q5:Credito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCredito">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCredito" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCreditoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarCreditoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>