Pacagroup.Comercial.Creditos.WindowsFormConsumer/Connected Services/ProxyCreditos/CreditoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CreditoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ICreditoService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/WcfService/CreditoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/WcfService/CreditoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/WcfService/CreditoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Pacagroup.Comercial.Creditos.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICreditoService_listarCreditos_InputMessage">
    <wsdl:part name="parameters" element="tns:listarCreditos" />
  </wsdl:message>
  <wsdl:message name="ICreditoService_listarCreditos_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarCreditosResponse" />
  </wsdl:message>
  <wsdl:message name="ICreditoService_registrarCredito_InputMessage">
    <wsdl:part name="parameters" element="tns:registrarCredito" />
  </wsdl:message>
  <wsdl:message name="ICreditoService_registrarCredito_OutputMessage">
    <wsdl:part name="parameters" element="tns:registrarCreditoResponse" />
  </wsdl:message>
  <wsdl:message name="ICreditoService_actualizarCredito_InputMessage">
    <wsdl:part name="parameters" element="tns:actualizarCredito" />
  </wsdl:message>
  <wsdl:message name="ICreditoService_actualizarCredito_OutputMessage">
    <wsdl:part name="parameters" element="tns:actualizarCreditoResponse" />
  </wsdl:message>
  <wsdl:message name="ICreditoService_EliminarCredito_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarCredito" />
  </wsdl:message>
  <wsdl:message name="ICreditoService_EliminarCredito_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarCreditoResponse" />
  </wsdl:message>
  <wsdl:portType name="ICreditoService">
    <wsdl:operation name="listarCreditos">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreditoService/listarCreditos" message="tns:ICreditoService_listarCreditos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreditoService/listarCreditosResponse" message="tns:ICreditoService_listarCreditos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registrarCredito">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreditoService/registrarCredito" message="tns:ICreditoService_registrarCredito_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreditoService/registrarCreditoResponse" message="tns:ICreditoService_registrarCredito_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="actualizarCredito">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreditoService/actualizarCredito" message="tns:ICreditoService_actualizarCredito_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreditoService/actualizarCreditoResponse" message="tns:ICreditoService_actualizarCredito_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarCredito">
      <wsdl:input wsaw:Action="http://tempuri.org/ICreditoService/EliminarCredito" message="tns:ICreditoService_EliminarCredito_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICreditoService/EliminarCreditoResponse" message="tns:ICreditoService_EliminarCredito_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICreditoService" type="tns:ICreditoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listarCreditos">
      <soap:operation soapAction="http://tempuri.org/ICreditoService/listarCreditos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarCredito">
      <soap:operation soapAction="http://tempuri.org/ICreditoService/registrarCredito" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarCredito">
      <soap:operation soapAction="http://tempuri.org/ICreditoService/actualizarCredito" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarCredito">
      <soap:operation soapAction="http://tempuri.org/ICreditoService/EliminarCredito" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_ICreditoService" type="tns:ICreditoService">
    <wsp:PolicyReference URI="#NetTcpBinding_ICreditoService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="listarCreditos">
      <soap12:operation soapAction="http://tempuri.org/ICreditoService/listarCreditos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarCredito">
      <soap12:operation soapAction="http://tempuri.org/ICreditoService/registrarCredito" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarCredito">
      <soap12:operation soapAction="http://tempuri.org/ICreditoService/actualizarCredito" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarCredito">
      <soap12:operation soapAction="http://tempuri.org/ICreditoService/EliminarCredito" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CreditoService">
    <wsdl:port name="BasicHttpBinding_ICreditoService" binding="tns:BasicHttpBinding_ICreditoService">
      <soap:address location="http://localhost/WcfService/CreditoService.svc" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_ICreditoService" binding="tns:NetTcpBinding_ICreditoService">
      <soap12:address location="net.tcp://desktop-4tne5sn/WcfService/CreditoService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://desktop-4tne5sn/WcfService/CreditoService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>host/DESKTOP-4TNE5SN</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>